.profilecontent{
    margin-left: 15%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    width: 70%;
}

.leftcontent{
    flex-direction: column;
    width: 350px;
    justify-content: left;
    text-align: center;
}

.rightcontent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 8%;
    
}

.photo{
    display: flex;
    flex-direction: column;
    max-width: 300px; 
    padding-right: 50px;
}

.bio{
    text-align: center;
    font-size: 16px;
}

.profilepic{
    width: 200px;
    border-radius: 50%;
    box-shadow: 0px -1px 8px rgba(80, 80, 85, 0.411);
    
}

p{
    font-size: 14px;
}
.photobio{
    font-size: small;

}

.showcasepic{
    max-width: 500px;
    max-height: 500px;
}

.showcasepic:hover{
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  opacity: 1;
  transform: scale(1.12);
  -ms-transform: scale(1.12); /* IE 9 */
  -webkit-transform: scale(1.12);
   /* Safari and Chrome */

}

/*MEDIA QUERIES*/ 
@media (max-width: 1700px){
    .leftcontent{
        width: 350px;
    }

    .showcasepic{
        max-width: 400px;
        max-height: 400px;
    }

}





@media (max-width: 1100px) {

    .leftcontent{
        width: 600px;
    }

    .profilecontent{
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .showcasepic{
        padding-right: 0px;
    }

    .photo{
        align-items: center;
        max-width: 400px;
        padding-top: 20px;
        
    }
    
    .showcasepic:hover{
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -ms-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;
        opacity: 1;
        transform: scale(1.1);
        -ms-transform: scale(1.1); /* IE 9 */
        -webkit-transform: scale(1.1);
         /* Safari and Chrome */
      
      }
}

@media (max-width: 820px){

    .rightcontent{
        margin-left: 0;
    }
    .bio{
        text-align: center;
        font-size: 14px;
    }
    
    .showcasepic{
        max-width: 300px;
        max-height: 300px;
    }
    .photobio{
        text-align: center;
    }
    .photo{
        padding: 0;
    }
    
}

@media screen and (max-width: 750px) {

   
    .profilepic{
        width: 250px;
    }

    .bio{
        font-size: 20px;
    }
    p{
        font-size: 18px;
    }
    .showcasepic{
        max-width: 400px;
        max-height: 400px;
    }
    .photobio{
        font-size: 18px;
    }
  }